{% load static %}

<div class="fifth-window">
    <div class="window-titles">
        <h4>ПОРТФОЛІО</h4>
        <h1>Зроблено роботи</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <h4>ГОТОВІ ПРОЕКТИ</h4>
                    <h1 class="number1" >2</h1>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-4">
                    <h4>СТРІЧКИ КОДУ</h4>
                    <h1 class="number2" title="1">5000</h1>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-4">
                    <h4>ЧАШОК КАВИ</h4>
                    <h1 class="number3">24</h1>
                </div>
            </div>
        </div>
    </div>

</div>
