{% load static %}

<div class="fourth-window">
    <div class="window-titles">
        <h4>ПОРТФОЛІО</h4>
        <h1>Переглянь кілька моїх робіт</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="portfolio-info">
                <h6>Інтернет-магазин</h6>
                <h1>Перший проект - перші шишки</h1>
                <h4>Цей проект став моїм першим кроком в веб розробці. <br>
                    Було потрачено купу зусиль, зроблено купу помилок, <br>
                    прописано сотні стрічок коду і все ж я досяг своєї <br>
                    мети і зміг виконати поставлені перед собою завдання. <br>
                </h4>
                <h4>Переглянути проект</h4>
            </div>
        </div>

        <div class="col-sm-6"><img class="portfolio-image" src="{% static 'img/shopping-cart.png' %}"></div>
    </div>

    <div class="row">
        <div class="col-sm-6"><img class="portfolio-image" src="{% static 'img/coffee.jpg' %}"></div>

        <div class="col-sm-6">
            <div class="portfolio-info">
                <h6>Портфоліо</h6>
                <h1>Творчий проект</h1>
                <h4>Настав час себе показати і розробити власне портфоліо. <br>
                    Це завдання порівняно просте, але воно дало мені ще <br>
                    досвіду в розробці.
                </h4>
                <h4>Переглянути проект</h4>
            </div>
        </div>
    </div>
</div>
