{% extends 'base.html' %}


{% block content %}
    <div class="resume-content">
        {% include 'Performer/second_window.html' %}
        <div class="about-author">
            <div class="row">
                <h1>Про мене</h1>
                <h2>Я Junior Web Developer з Луцька і тут ви дізнаєтесь про мій досвід та навички.</h2>
                <p>Чому я вибрав цю професію та цей напрям? Тому що програмуванням я хотів займатися
                    ще зі школи. Мені став прикладом мій дядько та і було цікаво, що собою являє
                    написання коду та створення за допомогою різних мов цікаві речі.<br>
                        Життя деколи робить різкі та непередбачувані повороти і я помилився з вибором
                    ВНЗ. Після усвідомлення, що вибраний мною напрям мені не підходить, вирішив
                    повернутись до здійснення бажаного і тепер вільний час я проводжу за вивченням
                    професії Web Developer. Чому Web? А чому б і ні?</p>
            </div>

            <ul>
                <li><span>Ім'я: </span>Приведенець Іван</li>
                <li><span>Телефон: </span>+38(068)69-26-223</li>
                <li><span>Email: </span>pryvivan@gmail.com</li>
            </ul>

            <div class="row">
                <h1>Освіта</h1>
                <div class="col-sm-12">
                    <div class="col">
                        <h3><span>ITEA</span> - Курс Python Developer</h3>
                        <h4>2017.07 - 2017.08</h4>
                    </div>
                    <h4>Україна - Львів</h4>
                </div>

                <div class="col-sm-12">
                    <div class="col">
                        <h3><span>ЛНУВМ та БТ ім. С. З. Гжицького</span> - Ветеренарна медицина</h3>
                        <h4>2015.09 - 2018.06</h4>
                    </div>
                    <h4>Україна - Львів</h4>
                </div>

                <div class="col-sm-12">
                    <div class="col">
                        <h3><span>English Galaxy</span> - Курс Англійської</h3>
                        <h4>2017.08 - Зараз</h4>
                    </div>
                    <h4>Україна - Львів, Луцьк</h4>
                </div>

                <div class="col-sm-12">
                    <div class="col">
                        <h3><span>Статті, документації та відеоуроки</span> - Web Development</h3>
                        <h4>2018.02 - Зараз</h4>
                    </div>
                    <h4>Україна - Львів, Луцьк</h4>
                </div>
            </div>

            <div class="row">
                <h1>Досвід</h1>
                <div class="col-sm-12">
                    <div class="col">
                        <h3><span>Перший проект</span> - Інтернет Магазин</h3>
                        <h4>2018.11 - 2019.02</h4>
                    </div>
                    <h4>Україна - Львів</h4>
                </div>

                <div class="col-sm-12">
                    <div class="col">
                        <h3><span>Другий проект</span> - Портфоліо</h3>
                        <h4>2019.10 - 2019.11</h4>
                    </div>
                    <h4>Україна - Львів</h4>
                </div>
            </div>

            <div class="row">
                <h1>Навички</h1>
                <div class="col-sm-12">
                    <h3><span>Django</span></h3>
                    <div class="progress-bar" role="progressbar" style="width: 40.5%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div><h6>40.5%</h6>
                </div>

                <div class="col-sm-12">
                    <h3><span>Python</span></h3>
                    <div class="progress-bar" role="progressbar" style="width: 54%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div><h6>54%</h6>
                </div>

                <div class="col-sm-12">
                    <h3><span>Jquery</span></h3>
                    <div class="progress-bar" role="progressbar" style="width: 42%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div><h6>42%</h6>
                </div>

                <div class="col-sm-12">
                    <h3><span>AJAX</span></h3>
                    <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div><h6>70%</h6>
                </div>

                <div class="col-sm-12">
                    <h3><span>CSS</span></h3>
                    <div class="progress-bar" role="progressbar" style="width: 83%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div><h6>83%</h6>
                </div>

                <div class="col-sm-12">
                    <h3><span>HTML</span></h3>
                    <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div><h6>70%</h6>
                </div>

                <div class="col-sm-12">
                    <h3><span>PostgreSQL</span></h3>
                    <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div><h6>15%</h6>
                </div>

                <div class="col-sm-12">
                    <h3><span>GIT</span></h3>
                    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div><h6>30%</h6>
                </div>

                <div class="col-sm-12">
                    <h3><span>Linux/Ubuntu</span></h3>
                    <div class="progress-bar" role="progressbar" style="width: 36%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div><h6>36%</h6>
                </div>

                <div class="col-sm-12">
                    <h3><span>Photoshop</span></h3>
                    <div class="progress-bar" role="progressbar" style="width: 43%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div><h6>43%</h6>
                </div>

                <div class="col-sm-12">
                    <h3><span>English</span></h3>
                    <div class="progress-bar" role="progressbar" style="width: 34%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div><h6>34%</h6>
                </div>

                <div class="col-sm-12">
                <a href="/static/New_resume.pdf" download="">
                    <button class="btn">Завантажити резюме</button>
                </a>
            </div>
            </div>
        </div>
    </div>
{% endblock %}

