{% load static %}

<div class="second-window">
    <div class="row" id="about-author">
        <div class="col-sm-4"><img id="main-image" src="{% static 'img/photo1.jpg' %}"></div>

        <div class="col-sm-8">
            <h1>ABOUT</h1>

            <div class="author-description">
                <h3>Привіт! Я Приведенець Іван</h3>
                <p>Розробник який знайшов себе в цій сфері.<br>
                Ця робота дає можливість уявляти та втілювати
                задумане в реальність, допомагаючи при цьому іншим,
                дарує свободу вибору та волю.</p>

                <div class="row">
                    <h4>Мої контакти</h4>
                    <div class="col">
                        <a href="https://www.facebook.com/profile.php?id=100021909762901"><img src="{% static 'img/facebook.png' %}"></a>
                    </div>

                    <div class="col">
                        <a href="https://www.instagram.com/pryvedenets_vania/?hl=uk"><img src="{% static 'img/instagram.png' %}"></a>
                    </div>

                    <div class="col">
                        <div class="telegram-info">@pryvedenets_vania</div>
                        <a href="#"><img class="telegram" src="{% static 'img/telegram.png' %}"></a>
                    </div>
                </div>

                <br>

                <h4>Email: <span>pryvivan@gmail.com</span></h4>
                <h4>Телефон <span>+38(068)69-26-223</span></h4>

            </div>


        </div>
    </div>
</div>
