{% load static %}

<div class="third-window">
    <div class="window-titles">
        <h4>ЩО Я РОБЛЮ</h4>
        <h1>Мої послуги</h1>
    </div>

    <div class="row">
        <div class="col-sm-4"><img src="{% static 'img/settings.png' %}"><br>Back-end <br> Python/Django <br> AJAX</div>
        <div class="col-sm-4"><img src="{% static 'img/html.png' %}"><br>HTML/CSS <br> JavaScript <br> Адаптивна верстка</div>
        <div class="col-sm-4"><img src="{% static 'img/digital.png' %}"><br>Розміщення сайту на сервер <br> PostgreSQL DB <br> VCS Git</div>
    </div>
</div>
